<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ServletPrima</servlet-name>
        <servlet-class>ibk.servlets.ServletPrima</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCosto</servlet-name>
        <servlet-class>ibk.servlets.ServletCosto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDuration</servlet-name>
        <servlet-class>ibk.servlets.ServletDuration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRoa</servlet-name>
        <servlet-class>ibk.servlets.ServletRoa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInof</servlet-name>
        <servlet-class>ibk.servlets.ServletInof</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>ibk.servlets.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRegistro</servlet-name>
        <servlet-class>ibk.servlets.ServletRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogout</servlet-name>
        <servlet-class>ibk.servlets.ServletLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFormulario</servlet-name>
        <servlet-class>ibk.servlets.ServletFormulario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUsuario</servlet-name>
        <servlet-class>ibk.servlets.ServletUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAceptadas</servlet-name>
        <servlet-class>ibk.servlets.ServletAceptadas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Imagen</servlet-name>
        <servlet-class>ibk.servlets.Imagen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerImagen</servlet-name>
        <servlet-class>ibk.servlets.VerImagen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRepechaje</servlet-name>
        <servlet-class>ibk.servlets.ServletRepechaje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDescargas</servlet-name>
        <servlet-class>ibk.servlets.ServletDescargas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMail</servlet-name>
        <servlet-class>ibk.servlets.ServletMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFFVV</servlet-name>
        <servlet-class>ibk.servlets.ServletFFVV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAceptadasFFVV</servlet-name>
        <servlet-class>ibk.servlets.ServletAceptadasFFVV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRepechajeFFVV</servlet-name>
        <servlet-class>ibk.servlets.ServletRepechajeFFVV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPrimaMonto</servlet-name>
        <servlet-class>ibk.servlets.ServletPrimaMonto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSpread</servlet-name>
        <servlet-class>ibk.servlets.ServletSpread</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCoF</servlet-name>
        <servlet-class>ibk.servlets.ServletCoF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RechazadasFFVV</servlet-name>
        <servlet-class>ibk.servlets.RechazadasFFVV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RechazadasABP</servlet-name>
        <servlet-class>ibk.servlets.RechazadasABP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAceptadasABP</servlet-name>
        <servlet-class>ibk.servlets.ServletAceptadasABP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletActualizacion</servlet-name>
        <servlet-class>ibk.servlets.ServletActualizacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletActualizacionFFVV</servlet-name>
        <servlet-class>ibk.servlets.ServletActualizacionFFVV</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRegistro</servlet-name>
        <url-pattern>/ServletRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogout</servlet-name>
        <url-pattern>/ServletLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPrima</servlet-name>
        <url-pattern>/ServletPrima</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCosto</servlet-name>
        <url-pattern>/ServletCosto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDuration</servlet-name>
        <url-pattern>/ServletDuration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRoa</servlet-name>
        <url-pattern>/ServletRoa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInof</servlet-name>
        <url-pattern>/ServletInof</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFormulario</servlet-name>
        <url-pattern>/ServletFormulario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUsuario</servlet-name>
        <url-pattern>/ServletUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAceptadas</servlet-name>
        <url-pattern>/ServletAceptadas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Imagen</servlet-name>
        <url-pattern>/Imagen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerImagen</servlet-name>
        <url-pattern>/VerImagen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRepechaje</servlet-name>
        <url-pattern>/ServletRepechaje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDescargas</servlet-name>
        <url-pattern>/ServletDescargas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMail</servlet-name>
        <url-pattern>/ServletMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFFVV</servlet-name>
        <url-pattern>/ServletFFVV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAceptadasFFVV</servlet-name>
        <url-pattern>/ServletAceptadasFFVV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRepechajeFFVV</servlet-name>
        <url-pattern>/ServletRepechajeFFVV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPrimaMonto</servlet-name>
        <url-pattern>/ServletPrimaMonto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSpread</servlet-name>
        <url-pattern>/ServletSpread</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCoF</servlet-name>
        <url-pattern>/ServletCoF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RechazadasFFVV</servlet-name>
        <url-pattern>/RechazadasFFVV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RechazadasABP</servlet-name>
        <url-pattern>/RechazadasABP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAceptadasABP</servlet-name>
        <url-pattern>/ServletAceptadasABP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletActualizacion</servlet-name>
        <url-pattern>/ServletActualizacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletActualizacionFFVV</servlet-name>
        <url-pattern>/ServletActualizacionFFVV</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            1080
        </session-timeout>
    </session-config>
</web-app>
